body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*NAVBAR SECTION START*/
.navbar-dark .navbar-brand {
    color: White;
    font-size: 30px;
}

.navbar-brand {
    animation: bounce;
}

.nav-item{
    text-align: center;
}

.navbar-dark .navbar-toggler {
    border-color: white;
}


.navbar-dark .navbar-brand.active,
.navbar-dark .navbar-brand:hover{
    color: aquamarine;
}

.navbar {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgba(0,0,0,0.6) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: aquamarine;
}
/*NAVBAR SECTION END*/

/*Welcome Homepage START TEST*/

#home {
    background-image: linear-gradient(to right, rgba(0, 0,0, 0), rgba(0, 0,0, 0)), url("../documentation/Milestone-03/coding.jpg");
    padding-bottom: 20em;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

}
/*pseudo-element below*/
#home::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 80%;
    transform: skewY(7deg);
    transform-origin: bottom left;
    bottom: -20em;
    right: 0;
    left: 0;
}

h1 {
    font-size: 4.4rem;
    margin-top: 3em;
    font-weight: 800;
}


.main-home-content h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: .11rem;
}

.main-home-content p {
    color: white;
    margin-bottom: 3em;
    font-size: 2rem;
}

/*Welcome Homepage END TEST*/

/*ABOUT SECTION START*/
#about {
    position: relative;
    margin-bottom: 10em;
    margin-top: -5em;
}

#cards {
    margin-bottom: 15em;
    background-image: linear-gradient(to right, rgba(0, 0,0, 0), rgba(0, 0,0, 0)), url("../documentation/Milestone-03/coding.jpg");
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

/*ABOUT SECTION END*/


/*PORTFOLIO SECTION START!!*/

/*PORTFOLIO SECTION END!!*/


/*CONTACT ME SECTION START!!*/
/*CONTACT ME SECTION END!!*/


/*FOOTER SECTION START!!*/
.page-footer {
    background-color: #334157;
    color: White;
    font-size: 30px;
}
/*FOOTER SECTION END!!*/



