@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*NAVBAR SECTION START*/
.navbar-dark .navbar-brand {
    color: White;
    font-size: 30px;
}

.navbar-brand {
    animation: bounce;
}

.nav-item{
    text-align: center;
}

.navbar-dark .navbar-toggler {
    border-color: white;
}


.navbar-dark .navbar-brand.active,
.navbar-dark .navbar-brand:hover{
    color: aquamarine;
}

.navbar {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgba(0,0,0,0.6) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: aquamarine;
}
/*NAVBAR SECTION END*/

/*Welcome Homepage START TEST*/

#home {
    background-image: linear-gradient(to right, rgba(0, 0,0, 0), rgba(0, 0,0, 0)), url("../documentation/Milestone-03/coding.jpg");
    padding-bottom: 20em;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

}
/*pseudo-element below*/
#home::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 80%;
    transform: skewY(7deg);
    transform-origin: bottom left;
    bottom: -20em;
    right: 0;
    left: 0;
}

h1 {
    font-size: 4.4rem;
    margin-top: 3em;
    font-weight: 800;
    text-shadow: 10px 10px 0 #000
}

h3 {
    color: white;
    font-size: 70px;
    font-family: 'Secular One', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 5px 5px 0 #000000;
}


.main-home-content h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: .11rem;
}

.main-home-content p {
    color: white;
    margin-bottom: 3em;
    font-size: 3rem;
    font-style: italic;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

hr.one {
    border-top: 2px solid;
    color: white;
}
/*Welcome Homepage END TEST*/


/*ABOUT SECTION START*/
hr.two {
    border-radius: 10px;
    border-top: 2px solid;
    color: black;
}

h2 {
    color: black;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Secular One', sans-serif;
}

#about {
    position: relative;
    margin-bottom: 8em;
    margin-top: -8em;
}

.aboutMe {
    font-size: 27px;
}
/*ABOUT SECTION END*/

/*SKILLS SECTION START*/
hr.three {
    border-radius: 10px;
    border-top: 2px solid;
    color: black;
}

.skills {
    margin-top: 5em;

}
#skills-section {
    margin-bottom: 8em;

}

.tools {
    font-size: 10em;
    color: black;
    justify-content: center;
    align-items: center;
}
.p4 {
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}
/*SKILLS SECTION END*/


/*PORTFOLIO SECTION START!!*/
hr.four{
    border-radius: 10px;
    border-top: 2px solid;
    color: black;
}

.p5 {
    /*option#1*/

    color: black;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;

    /*option #2*/

    /*color: white;*/
    /*font-size: 25px;*/
    /*font-weight: bold;*/
    /*font-style: italic;*/
    /*-webkit-text-stroke-width: 1px;*/
    /*-webkit-text-stroke-color: black;*/
    /*text-shadow: 2px 2px 0 #000000;*/
}

#portfolio-background {
    background-image: linear-gradient(to right, rgba(0, 0,0, 0.60), rgba(0, 0,0, 0.80)), url("../documentation/Milestone-03/coding.jpg");
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
#cards {
    justify-content: center;
    align-items: center;
}

.card {
    transition: transform 250ms;
    display: inline-block;
    margin-top: 30px;
}

.card:hover {
    transform: translateY(-10px);
}

/*PORTFOLIO SECTION END!!*/


/*CONTACT ME SECTION START!!*/
hr.five {
    border-radius: 10px;
    border-top: 2px solid;
    color: black;
}


/*CONTACT ME SECTION END!!*/


/*FOOTER SECTION START!!*/
.page-footer {
    background-color: black;
    color: White;
    font-size: 30px;
}
/*FOOTER SECTION END!!*/



