@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Hammersmith One', sans-serif;
}

/**********************/
/* NAVBAR SECTION START*/
/**********************/

.navbar-dark .navbar-brand {
    color: White;
    font-size: 30px;
}

.nav-item{
    text-align: center;
}

.navbar-dark .navbar-toggler {
    border-color: white;
}


.navbar-dark .navbar-brand.active,
.navbar-dark .navbar-brand:hover{
    color: aquamarine;
}

.navbar {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgba(0,0,0,0.6) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: aquamarine;
}

/**********************/
/* HOMEPAGE SECTION START*/
/**********************/

#home {
    background-image: linear-gradient(to right, rgba(0, 0,0, 0), rgba(0, 0,0, 0)), url("../documentation/Milestone-03/coding.jpg");
    padding-bottom: 30em;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

/*pseudo-element below*/
#home::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 50%;
    transform: skewY(6deg);
    transform-origin: bottom left;
    bottom: -1em;
    right: 0;
    left: 0;
}

h1 {
    font-size: 4em;
    margin-top: 3em;
    font-weight: 800;
    text-shadow: 10px 10px 0 #000;
}

h2 {
    color: white;
    font-size: 50px;
    font-family: 'Secular One', sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 5px 5px 0 #000000;
}


.main-home-content h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: .11rem;
}

.main-home-content p {
    color: white;
    font-size: 3rem;
    font-style: italic;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;

}

hr.one {
    border-top: 2px solid;
    color: white;
}


/**********************/
/* ABOUT ME SECTION START*/
/**********************/
hr {
    border-radius: 10px;
    border-top: 2px solid;
    color: black;
}

#about {
    position: relative;
    margin-bottom: 7em;
    margin-top: -16em;
}

.aboutMe {
    font-weight: bold;
    font-size: 27px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
    text-justify: none;
}

/**********************/
/* PORTFOLIO SECTION START*/
/**********************/
.card-img-top {
    border: 5px solid #78ECC5;
}
.card {
    background-color: transparent;
    border: 0;
    color: white;
}

.p5 {
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;
}

#portfolio-background {
    background-image: linear-gradient(to right, rgba(0, 0,0, 0.60), rgba(0, 0,0, 0.80)), url("../documentation/Milestone-03/coding.jpg");
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

h3 {
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

#cards {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.card-img-top {
    transition: transform 250ms;
    display: inline-block;
    margin-top: 30px;
}

.card-img-top:hover {
    transform: translateY(-10px);
}

/**********************/
/* SKILL SECTION START*/
/**********************/

#skills {
    margin-top: 5em;

}
.skills-section {
    margin-bottom: 5em;

}

.tools {
    font-size: 10em;
    color: black;
    justify-content: center;
    align-items: center;
}
.p4 {
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;
}

/**********************/
/* CONTACT SECTION START*/
/**********************/
label {
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.contact {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-control {
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
/**********************/
/* FOOTER SECTION START*/
/**********************/
.page-footer {
    background-color: black;
    color: White;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.footer-tools {
    font-size: 50px;
    color: white;
    justify-content: center;
    align-items: center;
}



